name: Build Stub Jar

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Scala
        uses: olafurpg/setup-scala@v12
        with:
          java-version: adopt@1.11

      - name: Cache sbt
        uses: actions/cache@v3
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt

      - name: Run sbt package
        run: sbt package

      - name: Upload jar
        uses: actions/upload-artifact@v3
        with:
          name: dbutils-v1-stub
          path: target/scala-2.12/*.jar
