name: Build Stub Jar

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Scala
        uses: olafurpg/setup-scala@v13
        with:
          scala-version: 2.12.20

      - name: Run sbt package
        run: sbt clean package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: dbutils-v1-stub
          path: target/scala-2.12/*.jar
